.item {
  background: rgb(172, 172, 238);
  padding: 15px 25px;
  display: grid;
  justify-items: center;
  justify-content: center;
  width: 40px;
  position: relative;
  border-radius: 10%;
}
.item {
  margin-bottom: 10px;
}

.online {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 5px;
  right: 5px;
}
.offline {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: brown;
  position: absolute;
  top: 5px;
  right: 5px;
}
