.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: max-content;
  background-color: bisque;
  margin-bottom: 25px;
}
.title {
  margin: 0 auto;
  display: inherit;
  padding: 25px;
}
.list {
  display: flex;
  justify-content: center;
}
.item {
  background: yellowgreen;
  padding: 15px 25px;
  display: grid;
  justify-items: center;
  width: 40px;
}
.item:nth-last-child(3) {
  background-color: orange;
}
.item:nth-last-child(2) {
  background-color: violet;
}
.item:first-child {
  background-color: aqua;
}
.item:last-child {
  background-color: palegreen;
}
